.container-image {
	max-width:100%;
	max-height:100%;
}

.sintesi {
	display:flex;
	width: 100%;
	height: auto;
	min-height: 200px;
	background-color: white;
	border-radius: 1em / 50%;
	box-shadow: 0 0 1px rgba(black, 0.5);
	margin: 2em 0;
}

.sintesi-margin{
	text-align: center;
	margin:auto;
}

.product-card{
	background-color: rgb(255,255,255);
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(black, 0.2);
	margin: 2em 0;
	padding: 30px;
	text-align: justify;
}

.product-video{
	margin: 2em 0;
	text-align: justify;
}