<%= render "shared/banner" %>
<div class="container spaziato">
	<div class="row">
		<div class="col-md-4 col-xs-12">
			<%= cl_image_tag("riempitrice-home-1_nvb9z5.jpg") %>
			<p>Alla Galli vantiamo un'esperienza trentennale nel campo delle lavorazioni meccaniche e ci occupiamo da anni della fornitura di riempitrici automatiche industriali professionali.</p>
		</div>
		<div class="col-md-4 col-xs-12">
			<%= cl_image_tag("riempitrice-home-2_kjthyh.jpg") %>
			<p>Le nostre riempitrici volumetriche sono prodotti di altissima gamma, produciamo in autonomia dosatrici volumetriche e riempitrici automatiche dal design al prodotto finito.</p>
		</div>
		<div class="col-md-4 col-xs-12">
			<%= cl_image_tag("riempitrice-home-3_zo3ygc.jpg") %>
			<p>Il vasto e attrezzato parco macchine comprendente sia macchine tradizionali che avanzati sistemi CNC consente di operare con estrema precisione e qualità garantendo il rispetto dei tempi di consegna. Clicca sui nostri prodotti per maggiori informazioni oppure telefona direttamente in azienda.</p>
		</div>
	</div>
</div>