<h1 class="text-center">Azienda Galli s.n.c.</h1>
<div class="container">
	<div class="row">
		<div class="col-md-3 col-xs-12">
			<div class="justify-address">
				<p>Via Trenca 3,</p>
				<p>21040 Caronno Varesino (VA)</p>
				<p>Italy</p>
				<p>Tel. & Fax 0331-980064 </p>
				<p>P. I. 02061560120</p>
				<p>E-Mail: info@galli-it.com</p>
			</div>
		</div>
		<div class="col-md-9 col-xs-12">
			<div id="map" class="map_style"></div>
		</div>
	</div>
	<div class="galli_where_descrizione">
		<p><%= t('location.one') %></p>
	</div>
	<div class="sintesi">
		<div class="sintesi-margin">
			<p><%= t('location.two') %></p>
			<p><%= t('location.three') %></p>
		</div>
	</div>
	
</div>
<script>
	function initMap() {
var myLatLng = {lat: 45.7336, lng: 8.82325};
var map = new google.maps.Map(document.getElementById('map'), {
zoom: 18,
center: myLatLng
});
var marker = new google.maps.Marker({
position: myLatLng,
map: map,
title: 'Hello World!'
});
}
</script>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_BROWSER_KEY']}&callback=initMap" %>