<div class="container azienda">
	<div class="row">
		<div class="col-md-12">
			<h1>Azienda Galli S.n.c.</h1>
			<p>La Galli è nel settore della vendita di dosatrici realizzate con avanzate tecniche di fresatura, tornitura e rettifica, nonché lavorazioni meccaniche per asportazione del truciolo con moderni sistemi CAD/CAM e macchine a controllo numerico.
			L'azienda offre una gamma di riempitrici volumetriche e dosatrici volumetriche per ogni esigenza, progettate, costruite e distribuite in autonomia. Se state cercando una riempitrice volumetrica per il dosaggio di prodotti nel campo alimentare, chimico, cosmetico e farmaceutico Galli possiede il know how per la produzione di una riempitrice volumetrica industriale professionale.
			Il vasto e attrezzato parco macchine comprendente sia macchine tradizionali che avanzati sistemi CNC consente di operare con estrema precisione e qualità garantendo il rispetto dei tempi di consegna. Si effettuano lavorazioni di fresatura, tornitura, rettifica circolare e piana, nonchè lavorazioni meccaniche per asportazione truciolo in genere, avvalendosi anche di moderni sistemi CAD/CAM e macchine a controllo numerico. 
			Contattateci, e saremo sicuramente in grado di soddisfare le vostre esigenze.</p>		
		</div>
	</div>
</div>